@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 3px; 
}
  
body::-webkit-scrollbar-track {
    background: #67391d;
    padding: 2px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #c6ae5d;
}

.voltar_ao_topo:hover{
    transform: scale(1.05);
}

.ticket_login:hover{
transform: scale(1.05);
}

.ticket_cadastro:hover{
    transform: scale(1.05);
}

.logo:hover{
    transform: scale(1.05);
}


.ticket_cadastro{
    position: fixed;
    position: fixed;
    margin-top: 42%;
    margin-left: 3%;
    z-index: 99999;
}

.voltar_ao_topo{
    position: fixed;
    width: auto;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 42%;
    margin-left:  92%;
    z-index: 9999;
}

.chocolate_derretido {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 105vw;
    height: 100%;
    margin-left: -10px;
}

.nav_bar {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -21%;

}

.ul1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
    color: white;
    margin-left: 20px;
    width: 100%;

}

a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s linear;
}

a:hover {
    color: #c6ae5dff;
    transition: .3s;
}

.nbrg:hover{
    transform: scale(1.05);
}

.modal_willy{
    background-color: #f3ecc86b;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.fundo_modal_willy{
    margin-top: 10px;
    background-color: #F3EDC8;
    width: 1000px;
    height: 500px;
    border-radius: 40px;
    z-index: 10000;
}

.fechar{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: -10px;
    margin-bottom: -20px;
}

.botao_fechar{
    background-color:#AD1D20;
	border-radius:42px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	font-size:23px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.conteudo_modal_willy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    gap: 70px;
}

.texto{
    text-align: center;
    color: #67391D;
    font-weight: 900;
    margin-top: -10px;
}

p{
text-align: justify;
}

.fundo_augustus {
    z-index: -1;
    position: fixed;
    top: 0;
}

.augustus_ilustracao {
    position: absolute;
    top: 54%;
    left: 37%;
    z-index: 999;
}

.botao_augustus {
    position: absolute;
    top: 35%;
    left: 43%;
    z-index: 1;
    background-color: #c6ae5dff;
    border-radius: 33px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.augustus_ilustracao:hover{
    transform: scale(1.05) translateY(-10px);
}

.botao_augustus:hover{
    transform: scale(1.05);
}

.violet_ilustracao:hover{
    transform: scale(1.05) translateY(-10px);
}

.botao_violet:hover{
    transform: scale(1.05);
}

.veruca_ilustracao:hover{
    transform: scale(1.05) translateY(-10px);
}

.botao_veruca:hover{
    transform: scale(1.05);
}

.mike_ilustracao:hover{
    transform: scale(1.05) translateY(-10px);
}

.botao_mike:hover{
    transform: scale(1.05);
}

.charlie_ilustracao:hover{
    transform: scale(1.05) translateY(-10px);
}

.botao_charlie:hover{
    transform: scale(1.05);
}
.violet_ilustracao{
    position: absolute;
    z-index: 999;
    top:165%;
    left: 37%;
}

.botao_violet{
    position: absolute;
    top: 150%;
    left: 42%;
    z-index: 9999;
    background-color: #c6ae5dff;
    border-radius: 33px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.veruca_ilustracao{
    position: absolute;
    z-index: 999;
    top:270%;
    left: 33%;
}

.botao_veruca{
    position: absolute;
    top: 250%;
    left: 42%;
    z-index: 9999;
    background-color: #c6ae5dff;
    border-radius: 33px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.mike_ilustracao{
    position: absolute;
    z-index: 999;
    top:383%;
    left: 34%;
}

.botao_mike{
    position: absolute;
    top: 365%;
    left: 42%;
    z-index: 9999;
    background-color: #c6ae5dff;
    border-radius: 33px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.charlie_ilustracao{
    position: absolute;
    z-index: 999;
    top:514%;
    left: 36%;
}

.botao_charlie{
    position: absolute;
    top: 490%;
    left: 42%;
    z-index: 9999;
    background-color: #c6ae5dff;
    border-radius: 33px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

footer {
    width: 100%;
    height: 380px;
    background-color: #c6ae5dff;
    margin-top: -15px
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    gap: 150px;
}

.ul2 {
    list-style: none;
    color: white;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

.a2:hover {
    color: #67391d;
    transition: .3s;
}